.flex-container {
  display: flex;
  background-color: #50A3E7;
  height: 150px;
  width: 150px;
  justify-content: center;
  align-items: center;
  
}

.flex-container > div {
  background-color: #000000;
  
  padding: 20px;
  
}